.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.dim {
  opacity: 0.5;
}

.button {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
}

.li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p {
  display: inline-block;
}

.line-through {
  text-decoration-line: line-through;
  text-decoration-color: rgb(252, 90, 3);
  text-decoration-thickness: 15%;
}

.capitalize::first-letter {
  text-transform: capitalize;
}
